@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'aeronaut';
    src: url('./POIAeronautTrial-Regular.woff')
}
@font-face {
    font-family: 'sussi';
    src: url('./SuisseIntl-Regular.woff')
}
.glass-morph {
    background: rgba( 255, 255, 255, 0 );
backdrop-filter: blur( 13.5px );
-webkit-backdrop-filter: blur( 13.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.colorssd{
    box-shadow:  0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}